@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;600;700&display=swap');

body {
    margin: 0;
    background-color: beige;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: hsl(228, 12%, 48%);
}

.card {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .card {
        max-width: 343px;
    }
}

@media screen and (min-width: 600px) {
    .card {
        max-width: 600px;
        flex-direction: row;
    }
}

.header-img {
    background-image: url(/newbie/01card/images/image-product-mobile.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 240px;
}

@media screen and (min-width: 600px) {
    .header-img {
        background-image: url(/newbie/01card/images/image-product-desktop.jpg);
        background-position: right;
        flex-basis: 300px;
        height: 450px;
    }
}

.card-body {
    background-color: white;
}

.card-body > div {
    padding: 10px 30px 30px 30px ;
}

@media screen and (min-width: 600px) {
    .card-body{
        flex-basis: 300px;

    }
}

button {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    border: 0;
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0.4px;
}

button:hover {
    background-color: hsl(157, 34%, 24%);
    cursor: pointer;
}

svg {
    margin-right: 10px;
}

.sup-heading {
    text-transform: uppercase;
    letter-spacing: 5px;
}

h1, .promo-price {
    font-family: 'Fraunces', serif;
    font-size: 32px;
}

h1 {
    color: black;
    line-height: 1;
    margin: 20px 0;
}

.price {
    display: flex;
    align-items: center;
}

.promo-price {
    color: hsl(158, 36%, 37%);
}

.original-price {
    margin-left: 15px;
    text-decoration: line-through;
}

.description {
    margin: 26px 0;

}